<section>
    <div id="about">
        <hgroup>
            <h2>About</h2>
            <h3>Somos um grupo de amigos que temos em comum a paixão por desenvolver software.</h3>
        </hgroup>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie id sem non lobortis. Nulla semper turpis ac nibh molestie, eget pharetra tellus aliquet. Phasellus volutpat arcu gravida eros facilisis vestibulum. Sed pretium tempus odio sed pulvinar. In pellentesque lacus id est venenatis lacinia. Aliquam vestibulum, neque sed suscipit malesuada, tortor leo mattis mauris, in tincidunt mi lectus non mi. Phasellus augue elit, malesuada eu egestas at, condimentum non.</p>

    </div>
</section>
<section>
    <div id="all-team">
        <h4>Conheça o nosso time</h4>
    </div>
</section>
